@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
html {
  font-family: "Heebo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 60vh;
  background-color: #0EE1E1;
  grid-row: auto;
}
#main-section .image-box {
  width: 50rem;
}
#main-section .image-box img {
  width: 90%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-box {
  color: #000;
}
.content-box h1 {
  padding-bottom: 20px;
  font: normal normal 900 66px/97px Heebo;
}
.content-box p {
  width: 90%;
  font: normal normal normal 20px/29px Heebo;
}

#servises {
  background: #fff;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}
#servises .item {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
#servises .item h2 {
  font-size: 1.875rem;
  padding: 10px;
  color: #0EE1E1;
}
#servises .item p {
  font-size: 0.938rem;
  margin: 0 auto;
  text-align: center;
}
#servises .item img {
  width: 50px;
}

#map-box {
  width: 60%;
  height: 70vh;
  background-color: #0EE1E1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#map-box .map {
  width: 90%;
  margin: 0 auto;
  height: 90%;
  display: flex;
}

#map-and-form {
  display: flex;
}

.form-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F0FFFF;
}
.form-box form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}
.form-box form .title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: right;
  margin: 40px 0;
}
.form-box form .description {
  font-size: 1rem;
  padding-bottom: 30px;
}
.form-box form label {
  width: 100%;
  text-align: right;
  padding-bottom: 5px;
}
.form-box form input, .form-box form textarea {
  border: none;
  width: 100%;
  height: 45px;
  background-color: #E5EEFF;
  border-bottom: 3px solid #0EE1E1;
  margin-bottom: 20px;
}
.form-box form textarea {
  height: 100px;
}
.form-box form button {
  border: none;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: #0EE1E1;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 10px solid #0EE1E1;
}
footer .social-icons-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .social-icons-box .social-icons {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #0EE1E1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .social-icons-box .social-icons img {
  width: 30px;
}

@media (max-width: 768px) {
  #map-and-form {
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
  }
  #map-and-form #map-box {
    width: 100%;
  }
  #map-and-form .form-box {
    width: 100%;
  }
  #map-and-form .form-box form {
    width: 80%;
  }
  #map-and-form .form-box form .title {
    margin: 10px auto;
  }
  .content-box h1 {
    font-size: 8vw;
  }
  #servises {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 668px) {
  .content-box h1 {
    font-size: 9vw;
  }
  #servises {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (max-width: 550px) {
  .content-box h1 {
    font-size: 10vw;
  }
  #servises {
    grid-template-columns: repeat(1, 4fr);
  }
}/*# sourceMappingURL=think-so-far.css.map */