@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
}

body {
    background-color: #E5EEFF;
}



.container {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    .inner-container {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media (max-width: 650px) {
            & {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        .image {
            max-width: 100%;
            height: auto;
        }
    }
}


.title-container {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    text-align: center;
    padding: 20px;
    background-color: $title-container-backgroud-color;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        padding-bottom: 20px;
    }

    p {
        color: $paragraph-color;
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: 500;
    }

}

.form-container {
    grid-column: 3 / 5;
    grid-row: 4 / 7;
    background-color: $form-main-color;
    color: #fff;
    text-align: right;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        padding: 20px;
        text-align: center;
        font-weight: 600;
    }

    form {
        width: 90%;
        margin: 0 auto;




        label {
            display: block;
            margin-bottom: 5px;
            color: $secondary-color;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #18f4ed;
            border: none;
            color: $black;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}


@media (max-width: $small) {
    .inner-container {
        grid-template-columns: repeat(10, 1fr);
    }

    .title-container {
        grid-column: 1 /3;
        grid-row: 1 /2;
    }

    .form-container {
        grid-column: 1/3;
        grid-row: 5/6;
    }
}