    $viewPw: 100%;
    $mainColor: rgb(229, 238, 255);
    $black: rgb(0, 0, 0);
    $form-main-color: rgb(142, 9, 124);
    $secondary-color: rgb(24, 244, 237);
    $small: 650px;
    $title-container-backgroud-color: rgb(49, 49, 154);
    $paragraph-color:rgb(249, 249, 249);