@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    background-color: #e0edf9;
}

.card-custom {
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) inset;
}

.btn-custom {
    background-color: #28a745;
    color: white;
    text-shadow: 1px 1px 5px rgb(3, 3, 3);
}

.btn-custom:hover {
    background-color: #218838;
}

.table-custom thead th {
    background-color: #007bff;
    color: white;
}

.section-title {
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}