* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#game {
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
        background: url('./gameImages/sky-day-game-background_7814-306.avif');
    background-size: cover;
    background-position: center;

}

#geme {
    background: url('./gameImages/pngegg.png');
    width: 500px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 70px;
    right: 0;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    animation: gyom 20s linear infinite;
}

@keyframes gyom {
    0% {
        right: -100px;
    }

    100% {
        right: 100%;
    }
}

#block {
    width: 80px;
    height: 800px;
    position: relative;
    left: 100%;
    animation: block 5s infinite linear;
    background: transparent;
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}


@keyframes block {
    0% {
        left: 100%
    }

    100% {
        left: -60px
    }
}

#hole {
    width: 20px;
    height: 200px;
    position: relative;
    left: 100%;
    top: 200px;
    animation: block 5s infinite linear;
    z-index: 3;
    background-size: cover;
    background-position: center;

}

#hole::before {
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-top: 10px solid #fff;
    border-radius: 10%;
    background: url('./gameImages/OEcM.gif');
    background-position: center;
}

#character {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    z-index: 1;
    transition: all 1s inherit;
}

#score-div {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 4;
    font-size: 1.5rem;
}


@media(max-width:560) {
    #container {
        height: 80%;
    }

    #game {
        height: 80%;
    }
}