html {
    font-family: "Heebo", sans-serif;
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: row-reverse;
}

.image-div {
    background-attachment: scroll;
    width: 50%;
    height: 100vh;
    background-image: url(./images/bigCoffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-div {
    position: relative;
    top: -45px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.inner-content-div {
    width: 300px;
    height: 300px;
    text-align: right;
    text-align: center;
}

h1,
p {
    color: #020253;
}


h1 {
    font-size: 2em;
    font-weight: 900;
}

p {
    font-weight: 500;
    margin-top: 20px;
    text-align: justify;
}

label {
    color: #2C2C2C;
    font-size: 1em;
    font-weight: bold;
    display: block;
    text-align: right;
}

input {
    background-color: #E5EEFF;
    width: 300px;
    height: 37px;
    border: none;
    border-bottom: 3px solid #020253;
}

button {
    font-size:0.999em;
    margin-top: 30px;
    height: 35px;
    width: 300px;
    border: none;
    background-color: #020253;
    color: #ffffffec;
    font-weight: bold;
}

@media (max-width:920px) and (min-width:760px) {
    .container {
        display: block;
    }

    .image-div {
        width: 100%;
        height: 400px;
        background-attachment: scroll;
    }

    .content-div {
        top: 0;
        width: 100%;
    }

    .inner-content-div {
        position: relative;
        top: 50px;
        width: 300px;
    }
}

@media (max-width:760px) and (min-width:300px) {
    .container {
        display: block;
    }

    .image-div {
        width: 100%;
        height: 400px;
    }

    .content-div {
        top: 0;
        width: 100%;
    }

    .inner-content-div {
        position: relative;
        top: 50px;
    }
}

@media (max-width:300px) and (min-width:0) {
    .container {
        display: block;
    }

    .image-div {
        width: 100%;
        height: 400px;
    }

    .content-div {
        top: 0;
        width: 100%;
    }


    .inner-content-div {
        position: relative;
        top: 50px;
    }

    h1 {
        font-size: 8vw;
        text-align: center;
    }

    p {
        font-size: 5vw;
    }

    input {
        width: 70vw;
    }

    button {
        width: 40vw;
    }
}