.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.button::before,
.button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}



.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #172e45;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 0px 1px transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#dbd2dc), to(rgb(9, 26, 36)));

    -webkit-transition: all .1s ease;
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover  {
    transform: scale(1.05);
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}