#project-section {
    width: 100%;
    background-color: #212529;

    &>.project-picture-box {
        width: 50%;
        padding: 100px 0;
        margin: 0 auto;

        & img {
            width: 100%;
        }
    }
}