#project-section {
    width: 100%;
    background: url('../../../img/mern-stack.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    

    .phoneImg {
        width: 20rem;
    }

    img {
        width: 50rem;
    }
}




#dependencies {
    #dependenciesUl {
        line-height: 1.5;
        margin-top: 10px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        font-weight: bold;

        li {
            width: 100%;
            border: 3px groove rgba(12, 62, 136, 0.685);
            border-collapse: collapse;
            padding: 0.5rem;
            font-size: 1.5rem;
            margin: 10px auto;
            font-weight: bold;
            background-color: rgba(207, 226, 255, 0.445);

            a {
                color: rgb(0, 123, 255);
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(max-width:1000px) {
    #dependencies #dependenciesUl {
        line-height: 1.5;
        margin-top: 100px;
        grid-template-columns: auto auto;
        margin: auto;
    }
}


@media(max-width:650px) {
    #project-section img {
        width: 100%;
    }

    #dependencies #dependenciesUl {
        line-height: 1.5;
        margin-top: 100px;
        grid-template-columns: auto;
        margin: auto;
    }
}