#project-section {
    width: 100%;
    background-color: #212529;

    .phoneImg {
        width: 20rem;
    }

    img {
        width: 50rem;
    }
}


#dependencies {
    #dependenciesUl {
        line-height: 1.5;
        margin-top: 100px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);

        li {
            width: 200px;
            border: 1px groove #fd72728f;
            border-collapse: separate;
            padding: 0.5rem;
            font-size: 1.5rem;
            margin: 150px auto;
            font-weight: bold;

            a {
                color: rgb(0, 123, 255);
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(max-width:1000px) {
    #dependencies #dependenciesUl {
        line-height: 1.5;
        margin-top: 100px;
        grid-template-columns: auto auto;
        margin: auto;
    }
}


@media(max-width:650px) {
    #project-section img {
        width: 100%;
    }

    #dependencies #dependenciesUl {
        line-height: 1.5;
        margin-top: 100px;
        grid-template-columns: auto;
        margin: auto;
    }
}