#contact {
    background-color: #212f3d;
    text-align: right;
    border-top: 20px solid #577a9c;
    color: white;
}

.image {
    width: 50%;
    text-align: center;

    img {
        width: 100%;
    }
}

.content-box {
    width: 50%;
    @include flex;
    flex-direction: column;

    .contact-title-box {
        width: 80%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        margin: 0 auto;
        min-width: 150px;

        h2 {
            font-size: $description-font-size;
        }

        p {
            font-weight: bold;
        }
    }
}

.form-box {
    width: 100%;
    margin: 0 auto;
    position: relative;

    form {
        position: relative;
        width: 50%;
        margin: 0 auto;
        z-index: 2;

        .required-star {
            color: red;
            font-size: 1.3em;
        }

        .filed-box {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            font-size: 1.1em;
            font-weight: bold;

            input,
            textarea {
                background-color: #577a9c;
                border: none;
                border-bottom: 4px solid white;
                border-radius: 8px;
            }

            .required-star.name {
                width: 40%;
            }
            .required-star.email {
                width: 50%;
            }
            .required-star.email {
                width: 60%;
            }
        }


        button {
            width: 100%;

            :hover {
                background: #dedede96;
            }
        }

        .button_lg {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.196);
        }

    }

    .rounded-border {
        width: 80%;
        height: 100%;
        background: $about-bg;
        position: relative;
        display: flex;
        place-content: center;
        place-items: center;
        overflow: hidden;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;


        &::before {
            content: '';
            position: absolute;
            width: 400%;
            background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(0, 0, 0), $about-bg, $about-bg, #ffffff, white,);
            height: 400%;
            animation: rotBGimg 10s linear alternate infinite;
            transition: all 0.5s linear;
        }

        &::after {
            content: '';
            position: absolute;
            background: $about-bg;
            filter: blur(30px);
            inset: 5px;
            border-radius: 15px;

        }
    }
}


@keyframes rotBGimg {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(170deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (max-width:$tablet) {
    .content-box {
        width: 100vw;

        .form-box {
            width: 100vw;

            form {
                .filed-box {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .image {
        display: none;
    }
    .rounded-border{
        width: 100%;
    }
}

@media (max-width:$mobile) {
    .content-box {
        .contact-title-box {
            padding-top: 30px;
        }

        .form-box {
            width: 80%;
            margin: 0 auto;

            form {
                width: 100%;
            }
        }
    }
}