#contact {
    width: $vpWidth;
    background-color: $about-bg;
    text-align: right;
    border-top: $border;
    color: white;
}

#contact .image {
    width: 50%;
    text-align: center;

    img {
        width: 100%;
    }
}

#contact .content-box {
    width: 50%;
    @include flex;
    flex-direction: column;

    .contact-title-box {
        width: 80%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        margin: 0 auto;
        min-width: 150px;

        h2 {
            font-size: $description-font-size;
        }

        p {
            font-weight: bold;
        }
    }
}

@keyframes formBG {
    0% {
        filter: blur(50px) hue-rotate(0deg);
    }

    100% {
        filter: blur(50px) hue-rotate(360deg);
    }
}

#contact .content-box .form-box {
    width: 100%;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700, #ffd700, #ffd700, #ffd700);
        filter: blur(100%);
        animation: formBG 3s infinite;
        transition: all 0.5s linear inherit;
    }

    & form {
        position: relative;
        z-index: 2;
        width: 100%;
        @include flex;
        flex-direction: column;
        background: rgba(25, 28, 31, 0.700);
        border-radius: 50px;
        margin: 0 auto;


        .filed-box {
            width: 50%;
            margin-top: 5px;
            font-size: 1.1em;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            & span {
                color: $border-color;
                font-weight: bold;
            }

            & .input {
                height: 40px;
                font-size: 16pt;
                color: $white;
                font-weight: bold;
            }

            & .input,
            & #textarea {
                background: rgb(28, 31, 34);
                border: none;
                border-bottom: 4px solid rgb(195, 195, 195);
            }
        }



        button:hover {
            background: #dedede96;
        }

        .button_lg {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.196);
        }
    }
}



@media (max-width:$tablet) {

    .content-box,
    .form-box,
    .input {
        width: 100%;
    }

    #contact .content-box .contact-title-box {
        text-align: center;
        width: 100vw;

        & .title {
            padding: 80px 10px;
        }
    }

    #contact .content-box .form-box {
        width: 100vw;
        padding-top: 30px;

        form {
            & .filed-box {
                width: 80%;
            }
        }
    }

    .image {
        display: none;
    }
}

@media (max-width:$mobile) {
    .content-box {
        .contact-title-box {
            padding-top: 30px;
        }

        .form-box {
            width: 100%;
            margin: 0 auto;

            form {
                width: 100%;
            }
        }
    }

}