#main-section {
    width: $vpWidth;
    height: 90vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgb(0, 0, 0)), url('../../img/alberto-bigoni-p_O3tf0YhS4-unsplash.jpg') center center no-repeat;
    background-size: cover;
    background-blend-mode: normal, normal, screen, overlay, normal;
    @include flex;
    flex-direction: column;
    color: $mini-black;
    text-align: center;

    .main-title-box {
        color: $white;
        @include flex;
        flex-direction: column;

        .title {
            display: block;
            padding: 50px;
            font-size: $main-font-size;
            font-weight: bold;
        }

        .description {
            font-size: $description-font-size;

            span {
                font-size: $main-font-size;
                color: $border-color;
            }
        }
    }
}

.back-to-top {
    width: 50px;
    height: 150px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;

    ::before {
        content: 'top';
        color: $white;
        font-size: 1.3em;
        font-weight: bold;
        color: $black;
        text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.905);
    }

}

@media (max-width:$mobile) {
    #main-section {
        width: 100vw;

        .main-title-box {
            .title {
                font-size: $description-font-size;
                font-weight: $bold;
            }

            .description {
                max-width: 600px;
                font-size: 1.3em;
            }
        }

    }
}

@media (max-width:$small-mobile) {
    #main-section {
        .main-title-box {
            .title {
                padding-top: 100px;
                font-size: 1.8em;
            }

            .description {
                font-size: 1.1em;
                min-width: 200px;
            }
        }

    }
}