#main-section {
    width: 100%;
    height: 130vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #00014acb, #110c33b4),
        url('../../img/cosmic-timetraveler-iUY61D226QY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include flex;
    flex-direction: column;
    color: $mini-black;
    text-align: center;
    animation: thiii 25s infinite;

    #moon {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 100vh;
        mix-blend-mode: screen;
        animation: thiii 0.5 ease-in-out;

        #moon-img {
            position: absolute;
            bottom: 0;
            right: 10px;
            top: 0;
        }

    }

    .main-title-box {
        color: #ffffff;
        @include flex;
        flex-direction: column;
        flex-wrap: wrap;

        .title {
            display: block;
            padding: 50px;
            font-size: $main-font-size;
            font-weight: bold;
        }

        .description {
            font-size: $description-font-size;

            span {
                font-size: $main-font-size;
                color: $border-color;
            }
        }
    }
}

@keyframes thiii {
    0% {
        background: rgb(0, 0, 0)
    }

    50% {
        background: rgba(20, 20, 125, 0.842)
    }

    70% {
        background: rgba(0, 1, 74, 0.882)
    }

    100% {
        background: rgb(0, 0, 0)
    }
}

.animatedBackground {
    .layer {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;

    }

    .layer:nth-child(1) {
        background-image: $layer-1-background;


    }

    .layer:nth-child(2) {
        background-image: $layer-2-background;
    }

    .layer:nth-child(3) {
        background-image: $layer-3-background;
    }

    .layer:nth-child(4) {
        background-image: $layer-4-background;
    }

    .layer:nth-child(5) {
        background-image: $layer-5-background;
        width: 80%;
        background-position: -400px -100px;
    }

    .layer:nth-child(6) {
        background-image: $layer-6-background;
    }

    .layer:nth-child(7) {
        background-image: $layer-7-background;
    }

    .layer:nth-child(8) {
        background-image: $layer-1-background;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width:$laptop) {
    .animatedBackground {
        .layer:nth-child(4) {
            background-image: none;
        }

        .layer:nth-child(7) {
            background-image: none;
        }
    }
}

@media (max-width:$mobile) {
    #main-section {
        width: 100vw;

        .main-title-box {
            .title {
                font-size: $description-font-size;
                font-weight: $bold;
            }

            .description {
                max-width: 600px;
                font-size: 1.3em;
            }
        }
    }

    .animatedBackground {

        .layer:nth-child(5) {
            z-index: 0;
        }

        .layer:nth-child(7) {
            background-image: none;
        }
    }
}

@media (max-width:$small-mobile) {
    #main-section {
        .main-title-box {
            .title {
                padding-top: 100px;
                font-size: 1.8em;
            }

            .description {
                font-size: 1.1em;
                min-width: 200px;
            }
        }

    }
}