#projects {
    width: 100%;
    text-align: center;
    background: $main-bg-color;
    color: $black;


    .content {
        .title {
            padding: 100px 0px;
            font-size: $main-font-size;
            font-weight: $bold;
            box-shadow: 0px 4px 20px #ffffff;
        }

        .description {
            width: $percentW80;
            margin: 50px auto;
            font-size: 1.2em;
        }
    }
}

div.card1 {
    border-radius: 30px;
    background: lightgrey;
    transition: all 0.6s ease-in-out;

    >img {
        width: 100%;
        border-radius: 11px 11px 0px 0px;
        margin: 9px auto;
        object-fit: cover;
    }

    .card-body {
        .button {
            position: absolute;
            bottom: -30px;
            left: 30%;
        }
    }
}

.animation-card {
    position: relative;
    overflow: hidden;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;

    &:hover {
        box-shadow: 15px 15px 30px #bebebe,
            15px 15px 30px #ffffff, 15px 15px 30px #acacac inset, -15px -15px 30px #b6b6b6 inset;
    }
}

@media (max-width:$mobile) {
    .loader{
        display: none;
    }
    #projects {

        .content {
            .title {
                font-size: 1.5em;
            }
        }
    }
}