#projects,
#projects-js {
	width: 100%;
	text-align: center;
	background: $main-bg-color;
	color: $white;
	margin: 0 auto;


	.content {
		text-align: center;
		box-shadow: 0px 4px 20px #ffffff;
		margin: 0 auto;

		.title-div {
			width: 50%;
			margin:0 auto;
			margin-bottom: 30px;
			box-shadow: 0px 4px 20px #ffffff;
			border-radius: 10px;
			position: relative;
			top: 10px;

			.title {
				padding: 50px;
				font-size: $main-font-size;
				font-weight: $bold;
			}
		}
	}

	.description {
		width: $percentW80;
		margin: 50px auto;
		font-size: 2em;
	}
}

@media (max-width: $mobile) {
	.loader {
		display: none;
	}

	#projects {
		.rows {
			width: 100%;
		}

		.content {
			.title-div {
				.title {
					font-size: 1.5em;
				}
			}
		}
	}
}

#react {
	animation: rectRotationAnimation 20s linear infinite;
}

@keyframes rectRotationAnimation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}