#skills {
    width: $vpWidth;
    position: relative;
    @include flex(flex, center, space-around);
    box-shadow: $box-shadow;
    background: rgb(11, 14, 15);
    & img {
        height: 6vh;
    }
}