#skills {
    width: $vpWidth;
    position: relative;
    @include flex(flex, center, space-around);
    flex-wrap: wrap;
    box-shadow: $box-shadow;
    background: rgb(11, 14, 15);



    & img {
        height: 6vh;
        @extend %hover;
        transition: all 0.5s ease-in-out;
    }
}

#bicycle-man {
    height: 100px;
    position: absolute;
    top: 150px;
    right: 0;
    animation: bicycle 30s linear infinite;
    transition: right 1s initial;
    z-index: 3;
}

#bicycle-man1 {
    height: 100px;
    position: absolute;
    top: 250px;
    right: auto;
    animation: bicycle1 30s linear infinite;
    transition: right 1s initial;
    z-index: 3;
}

@keyframes bicycle {
    0% {
        right: 100%;
        transform: rotate(10deg);
    }

    10% {
        transform: rotate(50deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(360deg);
    }

    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes bicycle1 {
    0% {
        right: 100%;
        transform: rotate(50deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(225deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }


    90% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(360deg);
    }

    100% {
        right: 0;
        transform: rotate(0deg);
    }
}