@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#about .about-picture:hover, #skills img:hover {
  transform: scale(1.6);
}

.navo {
  width: 100vw;
}

.links-settings {
  color: #d70683;
  font-size: 1.2em;
}
.links-settings:hover {
  color: #ff0099;
  filter: drop-shadow(3px 3px 30px white);
}

.profile-picture-box, #about .about-picture {
  margin: auto 20px auto 0;
  width: 70px;
  height: 70px;
  border-radius: 25%;
  overflow: hidden;
  background-image: url("../../img/ufmtech.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-box img, #about .about-picture img {
  width: 100%;
}

#main-section {
  width: 100vw;
  height: 130vh;
  position: relative;
  overflow: hidden;
  background: url("../../img/cosmic-timetraveler-iUY61D226QY-unsplash.jpg"), linear-gradient(to right, #00014a, #281f6f);
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #101010;
  text-align: center;
}
#main-section .main-title-box {
  color: #e58225;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#main-section .main-title-box .title {
  display: block;
  padding: 50px;
  font-size: 4rem;
  font-weight: bold;
}
#main-section .main-title-box .description {
  font-size: 2.5em;
}
#main-section .main-title-box .description span {
  font-size: 4rem;
  color: #dc4c36;
}

.animatedBackground .layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.animatedBackground .layer:nth-child(1) {
  background-image: url(../../img/1.png);
}
.animatedBackground .layer:nth-child(2) {
  background-image: url(../../img/2.png);
}
.animatedBackground .layer:nth-child(3) {
  background-image: url(../../img/3.png);
}
.animatedBackground .layer:nth-child(4) {
  background-image: url(../../img/4.png);
}
.animatedBackground .layer:nth-child(5) {
  background-image: url(../../img/5.png);
  width: 80%;
  background-position: -400px -100px;
}
.animatedBackground .layer:nth-child(6) {
  background-image: url(../../img/6.png);
}
.animatedBackground .layer:nth-child(7) {
  background-image: url(../../img/7.png);
}
.animatedBackground .layer:nth-child(8) {
  background-image: url(../../img/1.png);
  background-position: center;
  background-size: cover;
}

.back-to-top {
  width: 50px;
  height: 150px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.back-to-top::before {
  content: "top";
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.905);
}

@media (max-width: 992px) {
  .animatedBackground .layer:nth-child(4) {
    background-image: none;
  }
  .animatedBackground .layer:nth-child(7) {
    background-image: none;
  }
}
@media (max-width: 568px) {
  #main-section {
    width: 100vw;
  }
  #main-section .main-title-box .title {
    font-size: 2.5em;
    font-weight: 900;
  }
  #main-section .main-title-box .description {
    max-width: 600px;
    font-size: 1.3em;
  }
  .animatedBackground .layer:nth-child(5) {
    z-index: 0;
  }
  .animatedBackground .layer:nth-child(7) {
    background-image: none;
  }
}
@media (max-width: 375px) {
  #main-section .main-title-box .title {
    padding-top: 100px;
    font-size: 1.8em;
  }
  #main-section .main-title-box .description {
    font-size: 1.1em;
    min-width: 200px;
  }
}
.loader {
  position: absolute;
  top: -70px;
  left: 50%;
  z-index: 1;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #fff;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 2;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-image: url("../../img/alberto-bigoni-p_O3tf0YhS4-unsplash.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 3;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #4151be;
  animation-name: dot3_;
}
@keyframes dot1_ {
  3%, 97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}
@keyframes dot2_ {
  3%, 97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}
@keyframes dot3_ {
  3%, 97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}
a {
  text-decoration: none;
}

#button, #about .read-more-button {
  color: #e58225;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #eee;
  cursor: pointer;
  border: 1px solid rgba(173, 173, 173, 0.333);
  box-shadow: 0px 1px 12px rgb(122, 122, 122), 0px -2px 3px rgb(255, 255, 255) inset;
  transition: all 0.3s;
}

#button:hover, #about .read-more-button:hover {
  border: 1px solid rgb(217, 217, 217);
}

#button:active, #about .read-more-button:active {
  box-shadow: 0px 5px 12px rgb(79, 79, 79), 0px -2px 3px rgb(255, 255, 255) inset;
  transform: scale(0.9);
}

#skills {
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 8px 9px rgba(255, 255, 255, 0.6392156863);
  background: rgb(11, 14, 15);
}
#skills img {
  height: 6vh;
  transition: all 0.5s ease-in-out;
}

#about {
  width: 100vw;
  position: relative;
  font-family: "Heebo", sans-serif;
  padding: 100px 20px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 5px solid #dc4c36;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(8, 10, 11);
  font-style: normal;
  color: #fff;
}
#about .about-picture {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  transition: all 0.5s ease-in-out;
}
#about .title-container {
  margin: 0 auto;
  padding: 5px;
}
#about .title-container .title {
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 100px;
}
#about .title-container .description {
  width: 70%;
  font-size: 1.6666666667rem;
  font-weight: normal;
  padding-bottom: 100px;
  margin: 0 auto;
}
#about .title-container .remaining-content {
  margin: 20px;
}
#about .read-more-button {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  #about .title-container .title {
    font-size: 2.5em;
  }
  #about .title-container .description {
    width: 100%;
    padding: 0;
    margin: 50px auto;
  }
  #about img {
    width: 80%;
  }
}
@media (max-width: 375px) {
  #about .profile-picture-box, #about .about-picture {
    width: 90px;
    height: 90px;
  }
  #about .title-container {
    width: 100%;
  }
  #about .title-container .title {
    font-size: 2em;
  }
  #about .title-container .description {
    width: 80%;
    font-size: 1em;
    padding: 0;
    margin: 50px auto;
  }
}
#projects {
  width: 100%;
  text-align: center;
  background: #e0e0e0;
  color: #000;
  margin: 0 auto;
}
#projects .content {
  text-align: center;
}
#projects .content .title {
  padding: 100px;
  font-size: 4rem;
  font-weight: 900;
  box-shadow: 0px 4px 20px #ffffff;
}
#projects .content .description {
  width: 80%;
  margin: 50px auto;
  font-size: 1.2em;
}

.card1 {
  border-radius: 30px;
  background: lightgrey;
  transition: all 0.6s ease-in-out;
}
.card1 > img {
  width: 100%;
  border-radius: 11px 11px 0px 0px;
  margin: 9px auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.card1 .card-body .button {
  position: absolute;
  bottom: -30px;
  left: 30%;
}

.shadow-card {
  position: relative;
  overflow: hidden;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.shadow-card:hover {
  box-shadow: 15px 15px 30px #bebebe, 15px 15px 30px #ffffff, 15px 15px 30px #acacac inset, -15px -15px 30px #b6b6b6 inset;
}

@media (max-width: 568px) {
  .loader {
    display: none;
  }
  #projects .rows {
    width: 100%;
  }
  #projects .content .title {
    font-size: 1.5em;
  }
}
#contact {
  width: 100vw;
  background-color: rgb(8, 10, 11);
  text-align: right;
  border-top: 5px solid #dc4c36;
  color: white;
}

#contact .image {
  width: 50%;
  text-align: center;
}
#contact .image img {
  width: 100%;
}

#contact .content-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contact .content-box .contact-title-box {
  width: 80%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0 auto;
  min-width: 150px;
}
#contact .content-box .contact-title-box h2 {
  font-size: 2.5em;
}
#contact .content-box .contact-title-box p {
  font-weight: bold;
}

@keyframes formBG {
  0% {
    filter: blur(50px) hue-rotate(0deg);
  }
  100% {
    filter: blur(50px) hue-rotate(360deg);
  }
}
#contact .content-box .form-box {
  width: 100%;
  position: relative;
}
#contact .content-box .form-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700, #ffd700, #ffd700, #ffd700);
  filter: blur(100%);
  animation: formBG 3s infinite;
  transition: all 0.5s linear inherit;
}
#contact .content-box .form-box form {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(25, 28, 31, 0.025);
  border-radius: 50px;
  margin: 0 auto;
}
#contact .content-box .form-box form .filed-box {
  width: 50%;
  margin-top: 5px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#contact .content-box .form-box form .filed-box .input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#contact .content-box .form-box form .filed-box .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#contact .content-box .form-box form .filed-box .input:focus {
  outline: none;
}
#contact .content-box .form-box form .filed-box .input:focus + .input-border {
  width: 100%;
}
#contact .content-box .form-box form .filed-box .form-control {
  position: relative;
  --width-of-input: 300px;
}
#contact .content-box .form-box form .filed-box .input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}
#contact .content-box .form-box form .filed-box .input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
#contact .content-box .form-box form .filed-box .input-alt:focus + .input-border-alt {
  width: 100%;
}
#contact .content-box .form-box form button {
  margin-top: 20px;
  padding: 20px;
  background: rgba(222, 222, 222, 0.7450980392);
}

@media (max-width: 768px) {
  .content-box,
  .form-box,
  .input {
    width: 100%;
  }
  #contact .content-box .contact-title-box {
    text-align: center;
    width: 100vw;
  }
  #contact .content-box .contact-title-box .title {
    padding: 80px 10px;
  }
  #contact .content-box .form-box {
    width: 100vw;
    padding-top: 30px;
  }
  #contact .content-box .form-box form .filed-box {
    width: 80%;
  }
  .image {
    display: none;
  }
}
@media (max-width: 568px) {
  .content-box .contact-title-box {
    padding-top: 30px;
  }
  .content-box .form-box {
    width: 100%;
    margin: 0 auto;
  }
  .content-box .form-box form {
    width: 100%;
  }
}
footer {
  width: 100vw;
  border-top: 5px solid #dc4c36;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-section {
  margin: 0 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 50px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 20px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}
.footer-section ul li a:hover {
  color: #dc4c36;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-links li {
  margin: 0 5px;
}

.social-links li a img {
  width: 2em;
}
.social-links li a img:hover {
  color: #dc4c36;
}

.copy {
  font-size: 1.2rem;
  color: #dc4c36;
}

@media (max-width: 550px) {
  .footer-section h3 {
    height: 0.5em;
  }
  .footer-section p {
    font-size: 1em;
  }
}/*# sourceMappingURL=main.css.map */