@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
.profile-picture-box, #about .profile-picture-box {
  margin: auto 50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../../img/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-box img, #about .profile-picture-box img {
  width: 100%;
}

.loader {
  position: absolute;
  top: -70px;
  left: 50%;
  z-index: 1;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background-color: rgb(178, 146, 86);
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 2;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background-image: url("../../img/WhatsApp-Image.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 3;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background-color: #000;
  animation-name: dot3_;
}
@keyframes dot1_ {
  3%, 97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }
  30%, 36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }
  63%, 69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}
@keyframes dot2_ {
  3%, 97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }
  30%, 36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }
  63%, 69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}
@keyframes dot3_ {
  3%, 97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }
  30%, 36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }
  63%, 69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.15s ease;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  transition: all 0.15s ease;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #172e45;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dbd2dc), to(rgb(9, 26, 36)));
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  transform: scale(1.05);
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

#main-section {
  font-family: "Heebo", sans-serif;
  height: 90vh;
  background: radial-gradient(ellipse at 28% 0%, #fff 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(180deg, #000 0%, #000 69%, #000 70%, #000 100%) fixed;
  background-blend-mode: normal, normal, screen, overlay, normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #101010;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 900"><rect fill="%23ffffff" width="1600" height="900"/><defs><linearGradient id="a" x1="0" x2="0" y1="1" y2="0"><stop offset="0" stop-color="%230FF"/><stop offset="1" stop-color="%23CF6"/></linearGradient><linearGradient id="b" x1="0" x2="0" y1="0" y2="1"><stop offset="0" stop-color="%23F00"/><stop offset="1" stop-color="%23FC0"/></linearGradient></defs><g fill="%23FFF" fill-opacity="0" stroke-miterlimit="10"><g stroke="url(%23a)" stroke-width="2"><path transform="translate(0 0)" d="M1409 581 1450.35 511 1490 581z"/><circle stroke-width="4" transform="rotate(0 800 450)" cx="500" cy="100" r="40"/><path transform="translate(0 0)" d="M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z"/></g><g stroke="url(%23b)" stroke-width="4"><path transform="translate(0 0)" d="M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z"/><rect stroke-width="8" transform="rotate(0 1089 759)" x="1039" y="709" width="100" height="100"/><path transform="rotate(0 1400 132)" d="M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z"/></g></g></svg>');
}
#main-section .main-title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-section .main-title-box .title {
  padding: 50px;
  font-size: 3rem;
  font-weight: bold;
}
#main-section .main-title-box .description {
  font-size: 2.2em;
}
#main-section .main-title-box .description span {
  font-size: 3rem;
  color: #dc4c36;
}

.back-to-top {
  width: 50px;
  height: 150px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.back-to-top ::before {
  content: "top";
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.905);
}

@media (max-width: 568px) {
  #main-section .main-title-box .title {
    font-size: 2.2em;
    font-weight: 900;
  }
  #main-section .main-title-box .description {
    max-width: 600px;
    font-size: 1.3em;
  }
}
@media (max-width: 375px) {
  #main-section .main-title-box .title {
    padding-top: 100px;
    font-size: 1.8em;
  }
  #main-section .main-title-box .description {
    font-size: 1.1em;
    min-width: 200px;
  }
}
#skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 8px 9px rgba(255, 255, 255, 0.6392156863);
  background: rgb(108, 117, 125);
}
#skills img {
  height: 6vh;
}

#about {
  font-family: "Heebo", sans-serif;
  padding: 100px 20px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 5px solid #dc4c36;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(33, 37, 41);
  font-style: normal;
  color: #fff;
}
#about .profile-picture-box {
  margin: 50px auto;
  width: 150px;
  height: 150px;
}
#about .title-container {
  margin: 0 auto;
  padding: 5px;
}
#about .title-container .title {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 100px;
}
#about .title-container .description {
  font-size: 1.25rem;
  font-weight: normal;
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  #about .title-container .title {
    font-size: 2.2em;
  }
  #about .title-container .description {
    width: 100%;
    font-size: 1.5em;
    padding: 0;
    margin: 2em auto;
  }
  #about img {
    width: 80%;
  }
}
@media (max-width: 375px) {
  #about .profile-picture-box {
    width: 90px;
    height: 90px;
  }
  #about .title-container {
    width: 100%;
  }
  #about .title-container .title {
    font-size: 2em;
  }
  #about .title-container .description {
    width: 80%;
    font-size: 1em;
    padding: 0;
    margin: 50px auto;
  }
}
#projects {
  width: 100%;
  text-align: center;
  background: #e0e0e0;
  color: #000;
}
#projects .content .title {
  padding: 100px 0px;
  font-size: 3rem;
  font-weight: 900;
  box-shadow: 0px 4px 20px #ffffff;
}
#projects .content .description {
  width: 80%;
  margin: 50px auto;
  font-size: 1.2em;
}

div.card1 {
  border-radius: 30px;
  background: lightgrey;
  transition: all 0.6s ease-in-out;
}
div.card1 > img {
  width: 100%;
  border-radius: 11px 11px 0px 0px;
  margin: 9px auto;
}
div.card1 .card-body .button {
  position: absolute;
  bottom: -30px;
  left: 30%;
}

.animation-card {
  position: relative;
  overflow: hidden;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}
.animation-card:hover {
  box-shadow: 15px 15px 30px #bebebe, 15px 15px 30px #ffffff, 15px 15px 30px #acacac inset, -15px -15px 30px #b6b6b6 inset;
}

@media (max-width: 568px) {
  #projects .content .title {
    font-size: 1.5em;
  }
}
#contact {
  background-color: #212f3d;
  text-align: right;
  border-top: 20px solid #577a9c;
  color: white;
}

.image {
  width: 50%;
  text-align: center;
}
.image img {
  width: 100%;
}

.content-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-box .contact-title-box {
  width: 80%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0 auto;
  min-width: 150px;
}
.content-box .contact-title-box h2 {
  font-size: 2.2em;
}
.content-box .contact-title-box p {
  font-weight: bold;
}

.form-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.form-box form {
  position: relative;
  width: 50%;
  margin: 0 auto;
  z-index: 2;
}
.form-box form .required-star {
  color: red;
  font-size: 1.3em;
}
.form-box form .filed-box {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  font-weight: bold;
}
.form-box form .filed-box input,
.form-box form .filed-box textarea {
  background-color: #577a9c;
  border: none;
  border-bottom: 4px solid white;
  border-radius: 8px;
}
.form-box form .filed-box .required-star.name {
  width: 40%;
}
.form-box form .filed-box .required-star.email {
  width: 50%;
}
.form-box form .filed-box .required-star.email {
  width: 60%;
}
.form-box form button {
  width: 100%;
}
.form-box form button :hover {
  background: rgba(222, 222, 222, 0.5882352941);
}
.form-box form .button_lg {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.196);
}
.form-box .rounded-border {
  width: 80%;
  height: 100%;
  background: rgb(33, 37, 41);
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.form-box .rounded-border::before {
  content: "";
  position: absolute;
  width: 400%;
  background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(0, 0, 0), rgb(33, 37, 41), rgb(33, 37, 41), #ffffff, white);
  height: 400%;
  animation: rotBGimg 10s linear alternate infinite;
  transition: all 0.5s linear;
}
.form-box .rounded-border::after {
  content: "";
  position: absolute;
  background: rgb(33, 37, 41);
  filter: blur(30px);
  inset: 5px;
  border-radius: 15px;
}

@keyframes rotBGimg {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(70deg);
  }
  50% {
    transform: rotate(170deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .content-box {
    width: 100vw;
  }
  .content-box .form-box {
    width: 100vw;
  }
  .content-box .form-box form .filed-box input {
    width: 100%;
  }
  .image {
    display: none;
  }
  .rounded-border {
    width: 100%;
  }
}
@media (max-width: 568px) {
  .content-box .contact-title-box {
    padding-top: 30px;
  }
  .content-box .form-box {
    width: 80%;
    margin: 0 auto;
  }
  .content-box .form-box form {
    width: 100%;
  }
}
footer {
  border-top: 5px solid #dc4c36;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-section {
  margin: 0 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 20px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}
.footer-section ul li a:hover {
  color: #dc4c36;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-links li {
  margin: 0 5px;
}

.social-links li a img {
  width: 2em;
}
.social-links li a img:hover {
  color: #dc4c36;
}

.copy {
  font-size: 1.2rem;
  color: #dc4c36;
}

@media (max-width: 550px) {
  .footer-section h3 {
    height: 0.5em;
  }
  .footer-section p {
    font-size: 1em;
  }
}/*# sourceMappingURL=main.css.map */