@import '../../sass/helpers/variables';
@import '../../sass/helpers/mixin-and-functions';
@import '../../sass/layout/global/nav';
@import '../../sass/components/card';
@import '../../sass/layout/home/main-section';
@import '../../sass/components/responsive-design';
@import '../../sass/components/button-design';
@import '../../sass/layout/home/skills';
@import '../../sass/layout/home/about';
@import '../../sass/layout/home/projects';
@import '../../sass/layout/home/contact';
@import '../../sass/layout/global/footer';