@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    font-style: normal;
}

.container {
    width: 100vw;
    height: 100vh;
}

#main-box {
    width: 100%;
    height: 100%;
    background: url('images/fation.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#form-box {
    min-width: 30%;
    max-width: 40%;
    height: 50%;
    @extend %flex;
    margin: auto;
    background: rgba(195, 129, 129, 0.237);
    box-shadow: 0px 0px 30px 20px rgb(245, 245, 245), 0px 0px 20px 15px rgb(72, 72, 72);


    & h2 {
        text-align: center;

        & span {
            color: $red;
            font-size: 1.7em;
        }
    }

    form {
        width: 50%;

        &>.filed-box {
            & label {
                display: block;
                padding-top: 5px;
            }

            &>.input {
                width: 100%;
                height: 40px;
                border: 2px solid #e96c6c;
                background: rgba(255, 255, 255, 0.265);
                border-bottom: 5px solid rgb(0, 0, 0);
                margin: 5px auto;
            }

            & .button {
                @extend .input;
                border: none;
                background: $red;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(rgb(227, 94, 71), rgb(205, 38, 38));
                }
            }
        }
    }
}

.content-box {
    width: 80%;
    position: relative;
    top: 60%;



    & h1 {
        color: $red;
        font-size: 4em;
        font-weight: 1000;
    }

    & h2 {
        font-size: 3em;
        color: #ffffff;
        text-shadow: 1px 1px 50px rgb(0, 0, 0);
        font-weight: bold;
    }

    & p {
        font-size: 2em;
        @extend h2;
        color: $black;
    }
}

@media (max-width:800px) {
    #main-box {
        height: 50vh;
        max-width: none;
        width: 100vw;
        display: flex;
        background: linear-gradient(rgba(0, 0, 0, 0.396), #ffffff00), url('images/fation.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    #form-box {
        min-height: 400px;
        max-width: none;
        width: 100vw;
        height: 50vh;
        margin-top: 0px;
        background: #ffffff00;
        bottom: 0;
        box-shadow: none;

        & h1 {
            width: 100%;
            font-size: 2.2em;
        }

        & h2 {
            font-size: 1.8em;
        }

        & p {
            margin: 80px auto;
            width: 100%;
            min-width: 80px;
            font-size: 1.5em;
            font-weight: 800;
        }
    }

    .content-box {
        text-align: center;
        margin: 0 auto;
        top: 20px;



    }
}

@media (max-width:558px) {
    #form-box {
        &>h2 {
            font-size: 1.1em;

            &>span {
                font-size: 2em;
            }
        }
    }

    .content-box {
        &>h1 {
            font-size: 1.8em;
        }

        &>h2 {
            font-size: 1.5em;
        }

        &>p {
            margin: 20px auto;
            width: 100%;
            font-size: 1.3em;
        }
    }

}