/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v26-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    cursor: url('../../img/X.png') 0 0,
    default;
}

ul,
li {
  list-style-type: none;
}

$main-bg-color: #bebebe;

$black: #000;

$white: #fff;

$mini-black: #101010;

$border-color: #dc4c36;

//full view port width
$vpWidth: 100%;
$percentW80: 80%;

//colors



$title-color: $white;

$main-section-gradient: radial-gradient(ellipse at 28% 0%, $white 0%, rgba(0, 0, 0, 0.5) 100%),
  linear-gradient(180deg, $black 0%, $black 69%, $black 70%, $black 100%);


$gradient: linear-gradient(to right, #00000094, $black);





//box shadow
$box-shadow: 0px 8px 9px #ffffffa3;

$box-shadow2: 0px 0px 20px #0000001b;







//fonts
$main-font-size: 4rem;

$description-font-size: 2.5em;
$small-description-font-size: 1.5em;

$bold: 900;



$border: 5px solid $border-color;


$about-bg: rgb(36, 36, 36);
$contact-bg: #3A3A3A;

$logo-radios: 900px 0 900px 168px;

$orange: #FDBD03;

$profile-picutre: './img/profile-image.png';

//media queries
$small-mobile: 375px;
$mobile: 568px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large-devices: 1400px;



$layer-1-background: url(../../img/1.png);
$layer-2-background: url(../../img/2.png);
$layer-3-background: url(../../img/3.png);
$layer-4-background: url(../../img/4.png);
$layer-5-background: url(../../img/5.png);
$layer-6-background: url(../../img/6.png);
$layer-7-background: url(../../img/7.png);