.navo {
    width: 100vw;
}

.links-settings {
    color: #d70683;
    font-size: 1.2em;

    &:hover {
        color: #ff0099;
        filter: drop-shadow(3px 3px 30px white);
    }
}

.profile-picture-box {
    margin: auto 20px auto 0;
    width: 70px;
    height: 70px;
    border-radius: 25%;
    overflow: hidden;
    background-image: url('../../img/ufmtech.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
        width: 100%;
    }
}