* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    height: 100%;
    width: 100%;
    color: #f8ad30;
}



.result {
    width: 100%;
    height: 170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}



.a {
    width: 70px;
    height: 70px;
    margin: auto;
    /* box-shadow: 0px 0px 1px 1px black; */
    background-color: #fdc54a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    box-shadow:inset 1px 1px 20px  rgba(0, 0, 0, 0.546), 0 0 #000000;
}

#turn {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    font-size: 4rem;
    top: -80px;
    right: -15px;
}

.nums {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15rem;
    position: absolute;
    right: px;
    z-index: 1;
    animation: shadow 3s infinite;
    font-weight: bold;
    filter: blur(50px);
}

@keyframes shadow {
    0% {
        color: rgb(255, 255, 255);
    }

    20% {
        color: rgb(239, 216, 103);
    }
    30% {
        color: rgb(255, 255, 255);
    }

    40% {
        color: rgb(239, 216, 103);
    }
    50% {
        color: rgb(255, 255, 255);
    }

    60% {
        color: rgb(239, 216, 103);
    }
    70% {
        color: rgb(255, 255, 255);
    }

    90% {
        color: rgb(239, 216, 103);
    }
    100% {
        color: rgb(255, 255, 255);
    }

    80% {
        color: rgb(239, 216, 103);
    }
}

.col-md-3.m-1 {
    border: 5px solid #000000;
    margin: auto;
}

@media (max-width:576px) {
    .a {
        width: 30px;
        height: 30px;
        margin: auto;
    }

    .nums {
        color: rgb(194, 16, 16);
        font-size: 6rem;
        transition: color 100s initial;
        animation: shadow 1s infinite;
    }

    @keyframes shadow {
        0% {
            color: rgb(255, 255, 255);
        }

        50% {
            color: rgb(170, 45, 45);
        }

        70% {
            color: rgb(255, 0, 0);
        }

        100% {
            color: rgb(171, 52, 52);
        }
    }

    #turn {
        right: -10px;
    }
}