* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    height: 100%;
    width: 100%;
    color: #f8ad30;
}



.result {
    width: 100%;
    height: 170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}



.a {
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #fdc54a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    box-shadow:inset 1px 1px 20px  rgba(0, 0, 0, 0.717), 0 0 #000000;
}

#turn {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    position: relative;
    font-size: 4rem;
    top: -70px;
    right: -15px;
}

.nums {

    display: none;
}


@media (max-width:576px) {
    .a {
        width: 30px;
        height: 30px;
        margin: auto;
    }

    .nums {
        display: none;
    }


    #turn {
        right: -10px;
        top: 20px;
    }
}