@import "../../sass/components/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css";
@import "../../sass/helpers/variables";
@import "../../sass/layout/global/nav";
@import '../../sass/components/button-design';
@import "../../sass/helpers/mixin-and-functions";
@import "../../sass/layout/home/main-section";
@import '../../sass/layout/pages/project-page';
@import '../../sass/layout/home/skills';
@import '../../sass/layout/global/footer';