@import "../../sass/components/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css";
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v26-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/montserrat-v26-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("../../img/X.png") 0 0, default;
}

ul,
li {
  list-style-type: none;
}

.navo {
  width: 100%;
  background: rgba(255, 255, 255, 0.8352941176);
}
.navo .navbar-toggler {
  height: 60px;
  margin-left: 10px;
}

.links-settings {
  color: #d70683;
  font-size: 1.2em;
  margin-left: 30px;
}
.links-settings:hover {
  color: aliceblue;
  text-shadow: 1px 1px 70px rgb(255, 255, 255);
  transition: filter 3s ease-in-out;
}

div.profile-picture-box {
  margin: auto 10px auto 0;
  width: 50px;
  height: auto;
}
div.profile-picture-box a img {
  cursor: url("../../../img/HandPointer.png") 0 0, default;
}

.button {
  border: none;
  color: #aaaaaa;
  padding: 0.7em 1.7em;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3058823529);
  background: linear-gradient(225deg, #000000, #000000, rgb(85, 85, 85));
  text-shadow: -20px 15px 2px rgba(255, 255, 255, 0.217);
  transform: skewX(10deg);
  margin: 100px;
  transition: all 0.5s ease-in-out;
  cursor: url(../../img/HandPointer.png) 0 0, default;
}

.button:hover {
  color: aliceblue;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.312);
  background: #1f1d1d;
  box-shadow: -5px 5px 12px rgb(160, 202, 248), 0px 0px 30px rgb(160, 202, 248);
  transform: rotate(0deg) scale(1.06);
  transition: all 0.3s ease-in-out;
}

.button:active {
  box-shadow: inset 0px 5px 12px rgb(255, 255, 255), 0px -2px 3px rgb(255, 255, 255) inset;
  transform: scale(0.9);
}

#main-section {
  width: 100%;
  height: 130vh;
  position: relative;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #101010;
  text-align: center;
}
#main-section .main-title-box {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#main-section .main-title-box .title {
  display: block;
  padding: 50px;
  font-size: 4rem;
  font-weight: bold;
}
#main-section .main-title-box .description {
  font-size: 2.5em;
}
#main-section .main-title-box .description span {
  font-size: 4rem;
  color: #dc4c36;
}

.animatedBackground {
  width: 100%;
}
.animatedBackground .layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left;
}
.animatedBackground .layer:nth-child(1) {
  background-image: url(../../img/1.png);
  z-index: 0;
}
.animatedBackground .layer:nth-child(2) {
  width: 50%;
  height: 50%;
  background-image: url(../../img/2.png);
  z-index: 2;
}
.animatedBackground .layer:nth-child(3) {
  width: 70%;
  background-image: url(../../img/3.png);
  animation: rotationAnimatedBackground 220s infinite;
  z-index: 2;
}
.animatedBackground .layer:nth-child(4) {
  width: 90%;
  background-image: url(../../img/4.png);
  animation: rotationAnimatedBackground 220s infinite;
  z-index: 2;
}
.animatedBackground .layer:nth-child(5) {
  background-image: url(../../img/5.png);
  background-position: -400px -100px;
  width: 70%;
  z-index: 2;
}
.animatedBackground .layer:nth-child(6) {
  width: 70%;
  background-image: url(../../img/6.png);
  animation: rotationAnimatedBackground 120s infinite;
  z-index: 2;
}
.animatedBackground .layer:nth-child(7) {
  background-image: url(../../img/7.png);
}
.animatedBackground .layer:nth-child(8) {
  background-image: url(../../img/1.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px) {
  .animatedBackground .layer:nth-child(4) {
    background-image: none;
  }
  .animatedBackground .layer:nth-child(7) {
    background-image: none;
  }
}
@media (max-width: 568px) {
  #main-section {
    width: 100vw;
  }
  #main-section .main-title-box .title {
    font-size: 2.5em;
    font-weight: 900;
  }
  #main-section .main-title-box .description {
    max-width: 600px;
    font-size: 1.3em;
  }
  .animatedBackground .layer:nth-child(5) {
    z-index: 0;
  }
  .animatedBackground .layer:nth-child(1) {
    background-image: url(../../img/1.png);
    background-size: contain;
  }
  .animatedBackground .layer:nth-child(1),
  .animatedBackground .layer:nth-child(2),
  .animatedBackground .layer:nth-child(3),
  .animatedBackground .layer:nth-child(4),
  .animatedBackground .layer:nth-child(5),
  .animatedBackground .layer:nth-child(6),
  .animatedBackground .layer:nth-child(7),
  .animatedBackground .layer:nth-child(8) {
    background-image: url(../../img/1.png);
    animation: none;
  }
}
@media (max-width: 375px) {
  #main-section .main-title-box .title {
    padding-top: 100px;
    font-size: 1.8em;
  }
  #main-section .main-title-box .description {
    font-size: 1.1em;
    min-width: 200px;
  }
}
@keyframes rotationAnimatedBackground {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}
#project-section {
  width: 100%;
  background-color: #212529;
}
#project-section .phoneImg {
  width: 20rem;
}
#project-section img {
  width: 50rem;
}

#dependencies #dependenciesUl {
  line-height: 1.5;
  margin-top: 100px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}
#dependencies #dependenciesUl li {
  width: 200px;
  border: 1px groove rgba(253, 114, 114, 0.5607843137);
  border-collapse: separate;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 150px auto;
  font-weight: bold;
}
#dependencies #dependenciesUl li a {
  color: rgb(0, 123, 255);
  text-decoration: none;
}
#dependencies #dependenciesUl li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  #dependencies #dependenciesUl {
    line-height: 1.5;
    margin-top: 100px;
    grid-template-columns: auto auto;
    margin: auto;
  }
}
@media (max-width: 650px) {
  #project-section img {
    width: 100%;
  }
  #dependencies #dependenciesUl {
    line-height: 1.5;
    margin-top: 100px;
    grid-template-columns: auto;
    margin: auto;
  }
}
#skills {
  width: 100%;
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 1px 1px 20px wheat;
  background: rgb(17, 22, 23);
}
#skills img {
  height: 6vh;
}

#bicycle-man1 {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: auto;
  animation: bicycle1 20s linear infinite;
  transition: all 5s ease-in-out;
  z-index: 1;
}

/* 
    moving bicycle from left to right
*/
@keyframes bicycle1 {
  0% {
    right: 100%;
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 0;
    right: -100px;
  }
}
footer {
  width: 100%;
  border-top: 5px solid #dc4c36;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

#arrow-up {
  position: absolute;
  right: 50px;
}

.footer-section {
  margin: 0 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 50px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 20px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}
.footer-section ul li a:hover {
  color: #dc4c36;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-links li {
  margin: 0 5px;
}

.social-links li a img {
  width: 2em;
}
.social-links li a img:hover {
  color: #dc4c36;
}

.copy {
  font-size: 1.2rem;
  color: #dc4c36;
}

@media (max-width: 550px) {
  .footer-section h3 {
    height: 0.5em;
  }
  .footer-section p {
    font-size: 1em;
  }
}/*# sourceMappingURL=pages.css.map */