@import "../../sass/components/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;border-radius:50%;background:conic-gradient(from 90deg at 4px 4px,%230000 90deg, %232f2b2f 0) -4px -4px/calc(50% + 2px) calc(50% + 2px),repeating-radial-gradient(%230000 0 22%,%232f2b2f 23% 32%);" ></div></foreignObject></svg>') 24 24, auto;
}

ul,
li {
  list-style-type: none;
}

.navo {
  width: 100vw;
}

.links-settings {
  color: #d70683;
  font-size: 1.2em;
}
.links-settings:hover {
  color: aliceblue;
  text-shadow: 1px 1px 70px rgb(255, 255, 255);
  transition: filter 3s ease-in-out;
}

.profile-picture-box {
  margin: auto 20px auto 0;
  width: 70px;
  height: 70px;
  border-radius: 25%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-box img {
  width: 100%;
}

.button {
  border: none;
  color: #141414;
  padding: 0.7em 1.7em;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.5em;
  background: linear-gradient(225deg, #353535, #ffffff, rgb(85, 85, 85));
  box-shadow: -20px 20px 60px #e7b787, 20px -20px 60px #ffffff;
  animation: buttonsAnime 3s infinite;
}

@keyframes buttonsAnime {
  0% {
    box-shadow: 0px 5px 12px rgb(255, 255, 255), 0px -2px 3px rgb(255, 255, 255) inset;
  }
  10% {
    box-shadow: 0px 5px 12px rgb(72, 72, 72), 0px -2px 3px rgb(32, 32, 32) inset;
  }
  20% {
    box-shadow: 0px 5px 12px rgb(255, 255, 255), 0px -2px 3px rgb(255, 0, 0) inset;
  }
  30% {
    box-shadow: 0px 5px 12px rgb(72, 72, 72), 0px -2px 3px rgb(32, 32, 32) inset;
  }
  50% {
    box-shadow: 0px 5px 12px rgb(255, 255, 255), 0px -2px 3px rgb(105, 178, 255) inset;
  }
  70% {
    box-shadow: 0px 5px 12px rgb(72, 72, 72), 0px -2px 3px rgb(32, 32, 32) inset;
  }
  100% {
    box-shadow: 0px 5px 12px rgb(255, 255, 255), 0px -2px 3px rgb(255, 255, 255) inset;
  }
}
.button:hover {
  background: linear-gradient(225deg, #ffffff, #717171, rgb(255, 255, 255));
  transform: scale(1.06);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;background:linear-gradient(135deg,%23999 40%,%239950 0),linear-gradient(45deg, %230000 40%, %23777 0 60%,%230000 0)" ></div></foreignObject></svg>') 0 0, default;
}

.button:active {
  box-shadow: 0px 5px 12px rgb(255, 255, 255), 0px -2px 3px rgb(255, 255, 255) inset;
  transform: scale(0.9);
}

#main-section {
  width: 100%;
  height: 130vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 1, 74, 0.7960784314), rgba(17, 12, 51, 0.7058823529)), url("../../img/cosmic-timetraveler-iUY61D226QY-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #101010;
  text-align: center;
  animation: thiii 25s infinite;
}
#main-section .main-title-box {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#main-section .main-title-box .title {
  display: block;
  padding: 50px;
  font-size: 4rem;
  font-weight: bold;
}
#main-section .main-title-box .description {
  font-size: 2.5em;
}
#main-section .main-title-box .description span {
  font-size: 4rem;
  color: #dc4c36;
}

@keyframes thiii {
  0% {
    background: rgb(0, 0, 0);
  }
  50% {
    background: rgba(20, 20, 125, 0.842);
  }
  70% {
    background: rgba(0, 1, 74, 0.882);
  }
  100% {
    background: rgb(0, 0, 0);
  }
}
.animatedBackground .layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.animatedBackground .layer:nth-child(1) {
  background-image: url(../../img/1.png);
}
.animatedBackground .layer:nth-child(2) {
  background-image: url(../../img/2.png);
}
.animatedBackground .layer:nth-child(3) {
  background-image: url(../../img/3.png);
}
.animatedBackground .layer:nth-child(4) {
  background-image: url(../../img/4.png);
}
.animatedBackground .layer:nth-child(5) {
  background-image: url(../../img/5.png);
  width: 80%;
  background-position: -400px -100px;
}
.animatedBackground .layer:nth-child(6) {
  background-image: url(../../img/6.png);
}
.animatedBackground .layer:nth-child(7) {
  background-image: url(../../img/7.png);
}
.animatedBackground .layer:nth-child(8) {
  background-image: url(../../img/1.png);
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px) {
  .animatedBackground .layer:nth-child(4) {
    background-image: none;
  }
  .animatedBackground .layer:nth-child(7) {
    background-image: none;
  }
}
@media (max-width: 568px) {
  #main-section {
    width: 100vw;
  }
  #main-section .main-title-box .title {
    font-size: 2.5em;
    font-weight: 900;
  }
  #main-section .main-title-box .description {
    max-width: 600px;
    font-size: 1.3em;
  }
  .animatedBackground .layer:nth-child(5) {
    z-index: 0;
  }
  .animatedBackground .layer:nth-child(7) {
    background-image: none;
  }
}
@media (max-width: 375px) {
  #main-section .main-title-box .title {
    padding-top: 100px;
    font-size: 1.8em;
  }
  #main-section .main-title-box .description {
    font-size: 1.1em;
    min-width: 200px;
  }
}
#project-section {
  width: 100%;
  background-color: #212529;
}
#project-section img {
  width: 20rem;
}

@media (max-width: 556px) {
  #project-section img {
    width: 80%;
  }
}
#skills {
  width: 100%;
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 1px 1px 20px wheat;
  background: rgb(17, 22, 23);
}
#skills img {
  height: 6vh;
}

#bicycle-man1 {
  height: 100px;
  position: absolute;
  bottom: 0;
  right: auto;
  animation: bicycle1 20s linear infinite;
  transition: all 5s ease-in-out;
  z-index: 1;
}

/* 
    moving bicycle from left to right
*/
@keyframes bicycle1 {
  0% {
    right: 100%;
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 0;
    right: -100px;
  }
}
footer {
  width: 100%;
  border-top: 5px solid #dc4c36;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

#arrow-up {
  position: absolute;
  right: 50px;
}

.footer-section {
  margin: 0 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 50px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 20px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}
.footer-section ul li a:hover {
  color: #dc4c36;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-links li {
  margin: 0 5px;
}

.social-links li a img {
  width: 2em;
}
.social-links li a img:hover {
  color: #dc4c36;
}

.copy {
  font-size: 1.2rem;
  color: #dc4c36;
}

@media (max-width: 550px) {
  .footer-section h3 {
    height: 0.5em;
  }
  .footer-section p {
    font-size: 1em;
  }
}/*# sourceMappingURL=pages.css.map */