@import "../../sass/components/bootstrap-5.3.3-dist/css/bootstrap.rtl.min.css";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
.navo {
  width: 100vw;
}

.profile-picture-box {
  margin: auto 20px auto 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../../img/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-box img {
  width: 100%;
}

#main-section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgb(0, 0, 0)), url("../../img/alberto-bigoni-p_O3tf0YhS4-unsplash.jpg") center center no-repeat;
  background-size: cover;
  background-blend-mode: normal, normal, screen, overlay, normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #101010;
  text-align: center;
}
#main-section .main-title-box {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-section .main-title-box .title {
  display: block;
  padding: 50px;
  font-size: 4rem;
  font-weight: bold;
}
#main-section .main-title-box .description {
  font-size: 2.5em;
}
#main-section .main-title-box .description span {
  font-size: 4rem;
  color: #dc4c36;
}

.back-to-top {
  width: 50px;
  height: 150px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.back-to-top ::before {
  content: "top";
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.905);
}

@media (max-width: 568px) {
  #main-section {
    width: 100vw;
  }
  #main-section .main-title-box .title {
    font-size: 2.5em;
    font-weight: 900;
  }
  #main-section .main-title-box .description {
    max-width: 600px;
    font-size: 1.3em;
  }
}
@media (max-width: 375px) {
  #main-section .main-title-box .title {
    padding-top: 100px;
    font-size: 1.8em;
  }
  #main-section .main-title-box .description {
    font-size: 1.1em;
    min-width: 200px;
  }
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.15s ease;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  transition: all 0.15s ease;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #172e45;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dbd2dc), to(rgb(9, 26, 36)));
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  transform: scale(1.05);
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: #2196f3;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #2196f3;
  border-left: 2px solid #2196f3;
  border-right: 2px solid #2196f3;
}

.tooltip {
  position: absolute;
  right: -80px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: #2196f3;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.Btn:hover .svgIcon {
  fill: black;
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#project-section {
  width: 100vw;
  background-color: #212529;
}
#project-section > .project-picture-box {
  width: 80%;
  padding: 100px 0;
  margin: 0 auto;
}
#project-section > .project-picture-box img {
  width: 100%;
}

#skills {
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 8px 9px rgba(255, 255, 255, 0.6392156863);
  background: rgb(11, 14, 15);
}
#skills img {
  height: 5vh;
}

footer {
  width: 100vw;
  border-top: 5px solid #dc4c36;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-section {
  margin: 0 10px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 50px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 20px;
}

.footer-section ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}
.footer-section ul li a:hover {
  color: #dc4c36;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-links li {
  margin: 0 5px;
}

.social-links li a img {
  width: 2em;
}
.social-links li a img:hover {
  color: #dc4c36;
}

.copy {
  font-size: 1.2rem;
  color: #dc4c36;
}

@media (max-width: 550px) {
  .footer-section h3 {
    height: 0.5em;
  }
  .footer-section p {
    font-size: 1em;
  }
}/*# sourceMappingURL=pages.css.map */