* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}


.container {
    width: 100vw;
    height: 100vh;
    font-size: 1.2em;
    color: rgb(186, 117, 48);
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}

.images-container {
    width: 60%;
    height: 100%;
    border-left: 5px groove #fff;
    display: flex;
    gap: 20px;

    >img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        box-shadow: 2px 7px 14px 0px rgb(0, 0, 0);
    }
}

.content-container {
    min-width: 40%;
    height: 100%;
    position: relative;
    & img{
        width:50%;
    }

    h1 {
        margin-top: 50px;
        font-size: 2em;
        font-weight: bold;
        padding: 30px 0;
        background: rgba(0, 0, 0, 0.737);
    }

    h2 {
        font-size: 2em;
        padding-bottom: 5px;

        span.sp1 {
            color: rgb(136, 0, 136);
        }

        span.sp2 {
            color: rgb(155, 0, 0);
        }

        span.sp3 {
            color: rgb(114, 19, 68);
        }

        span.sp4 {
            color: rgb(65, 37, 3);
        }

        span.sp5 {
            color: rgb(163, 52, 40);
        }
    }
}

.form-box {
    width: 100%;
    height:70%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 12px solid rgba(0, 0, 0, 0.774);
    background:linear-gradient(to bottom right,rgba(0, 0, 0, 0.627),white,rgba(0, 0, 0, 0.766));


    form {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;

        .filed-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            text-align: right;

            label {
                font-size: 1em;
                color: rgb(255, 255, 255);
                font-weight: bold;
                padding: 20px 0 5px 0;
            }

            input {
                border: none;
                width: 100%;
                height: 2.5em;
                box-shadow: 1px 1px 10px black;
            }

            button {
                width: 100%;
                margin-left: auto;
                margin: 20px auto;
                cursor: pointer;
            }
        }

        .submit-button {
            position: relative;
            margin-top: 25px;
            border: none;
            width: 15%;
            height: 2.5em;
            background-color: rgba(0, 0, 0, 0.737);
            font-size: 1em;
            color: #fff;
            font-weight: bold;
        }
    }
}

@media (max-width:768px) {
    .container {
        flex-direction: column-reverse;
    }

    .images-container {
        width: 100%;
        height: 40vh;
        object-fit: fill;
    }

    .content-container {
        width: 100%;
        height: 40vh;
        h1 {
                margin: 20px auto 0 auto;
                font-size: 5vw;
            }
    
}}
//         h2 {
//             span {
//                 font-size: 0.8em;
//             }
//         }

//         p {
//             width: 100%;
//             font-size: 1.5em;
//         }
//     }

//     .form-box {
//         width: 100%;
//         height: 60%;
//         bottom: 0;

//         form {
//             flex-direction: column;

//             .filed-box {
//                 width: 100%;

//                 label {
//                     width: 50%;
//                     margin: 0 auto;
//                 }

//                 button {
//                     width: 50%;
//                     margin-left: auto;
//                     margin: 5px auto;
//                 }

//                 input {
//                     width: 50%;
//                     margin: 0 auto;

//                 }
//             }
//         }

//         .submit-button {
//             width: 100%;
//         }
//     }
// }

// @media (max-width:568px) {

//     .content-container {

//         h1 {
//             margin-top: 10px;
//         }

//         h2 {
//             span {
//                 padding-top: 0;
//                 font-size: 0.7em;
//             }
//         }

//         form-box {
//             form {
//                 .filed-box {
//                     width: 100%;

//                     label,
//                     input,
//                     button {
//                         width: 100%;
//                     }
//                 }
//             }
//         }

//     }
// }

// @media (max-width:380px) {

//     .images-container {
//         height: 25vh;
//     }

//     .content-container {
//         height: 75vh;

//         .form-box {
//             height: 220px;
//         }

//         h1 {
//             font-size: 1.8em;
//         }

//         h2 {
//             padding: 0;

//             span {
//                 width: 0.2em;
//             }
//         }

//         p {
//             width: 100%;
//             font-size: 1.5em;
//         }
//     }
// }

// @media (max-width:280px) {
//     .content-container {
//         height: 75vh;

//         p {
//             display: none;
//         }

//         .form-box {
//             height: 200px;

//             form {
//                 margin-top: 10px;
//             }
//         }
//     }
// }